@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<markdown normalize-whitespace="true">
    ## This is a markdown title
    This is a markdown list:
    * Item 1
    * Item 2 s sads
    sax it can have html tag
</markdown>
